/* .input-wrp {
  display: flex;
  height: 27%;
  margin: 90px 0 0 0;
  -webkit-box-shadow: 0px 14px 8px 0px rgba(31, 32, 34, 0.2);
  -moz-box-shadow: 0px 14px 8px 0px rgba(31, 32, 34, 0.2);
  box-shadow: 0px 14px 8px 0px rgba(31, 32, 34, 0.2);
} */
.form {
  display: flex;
  margin: 90px 0 40px 0;
  -webkit-box-shadow: 0px 14px 8px 0px rgba(31, 32, 34, 0.2);
  -moz-box-shadow: 0px 14px 8px 0px rgba(31, 32, 34, 0.2);
  box-shadow: 0px 14px 8px 0px rgba(31, 32, 34, 0.2);
}
.input {
  font-size: 30px;
  width: 100%;
  padding: 20px;
  border: 2px solid #25283f;
  color: #25283f;
  border-radius: 5px;
}
.button {
  font-size: 20px;
  color: white;
  text-align: center;
  border: 2px solid #25283f;
  padding: 20px 30px;
  margin: 0 0 0 -5px;
  background-color: #25283f;
  border-radius: 5px;
  cursor: pointer;
}
