body {
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
  background-color: gray;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.app-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app-content {
  width: 100%;
  max-width: 550px;
  height: 60vh;
  background: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-top-decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  width: 85%;
  background-color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.app-header {
  font-size: 35px;
  text-align: center;
  color: #25283f;
  margin: 0 0 0 0;
}
.app-header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}
@media (max-height: 1100px) {
  .app-content {
    height: 70vh;
  }
}
